- name: Config Target
  ansible.builtin.debug:
    msg: "{{ load_config_type }}"

- name: Find Config Files
  vars:
    _paths: "{{ config_repo_dir }}/{{ load_config_type }}.yml"
  ansible.builtin.include_vars:
    name: "{{ load_config_var }}"
    file: "{{ lookup('ansible.builtin.first_found', _paths) }}"
